
*

header
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(stars.jpeg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

body

{
font-family: monospace;
}

.row
{
max-width: 3600px;
margin: auto;
}

.me
{
position: absolute;
width: 1850px;
margin-left: 0px;
margin-top: 0px;
}

h1
{
color: white;
text-transform: uppercase;
font-size: 100px;
text-align: center;
margin-top: 575px;
}

.button
{
float: right;
margin-top: 30px;
margin-left: 40px;
}

.btn
{
border: 1px solid white;
padding: 10px 30px;
color: white;
text-decoration: none;
font-size: 15px;
text-transform: uppercase;
}

.btn-one
{
font-family: "Roboto", sans-serif;
margin-top: 50px;
margin-right: 40px;
}

.btn-one:hover
{
background-color: #ff6666;
}

.btn-two
{
font-family: "Roboto", sans-serif;
margin-top: 250px;
margin-right: 40px;
}

.btn-two:hover
{
background-color: #ff6666;
}

.btn-thr
{
font-family: "Roboto", sans-serif;
margin-top: 400px;
margin-right: 40px;
}

.btn-thr:hover
{
background-color: #ff6666;
}
h1
{
position: absolute;
width: 100px;
margin-left: 160px;
padding: -30px;
color: white;
font-size: 100px;
text-align: center;
margin-top: 140px;
}

h2
{
font-family: Candara;
position: absolute;
width: 700px;
margin-left: 100px;
padding: -30px;
color: white;
font-size: 30px;
text-align: center;
margin-top: 420px;
}

h3
{
font-family: Candara;
position: absolute;
width: 700px;
margin-left: 155px;
padding: -30px;
color: white;
font-size: 30px;
text-align: center;
margin-top: 455px;
}

h4
{
font-family: Candara;
position: absolute;
width: 600px;
margin-left: 600px;
padding: -30px;
color: white;
font-size: 100px;
text-align: center;
margin-top: 70px;
}

h5
{
position: absolute;
width: 100px;
margin-left: 110px;
padding: -30px;
color: white;
font-size: 50px;
text-align: center;
margin-top: 200px;
}

text
{
position: absolute;
width: 670px;
margin-left: 120px;
padding: -30px;
color: white;
font-size: 25px;
text-align: center;
margin-top: 260px;
}

.pic-one
{
position: relative;
margin-top: 365;
margin-left: 850;
}


.pic-two
{

position: relative;
margin-top: -450;
margin-left: 850;
}

.pic-thr
{

position: relative;
margin-top: -100;
margin-left: 975;
}

.pic-fou
{
position: relative;
margin-top: -100;
margin-left: 1085;
}

footer
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(stars.jpeg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	
}